html {
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background-color: #f1f1f1;
}

section {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    border-radius: 0.5em;
    margin: 8px 8px 16px 8px;
    display: block;
    max-width: 1500px;
    min-height: 720px;
}


h2 {
    text-align: center;
}

main {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-width: 1500px;
    min-height: 720px;
    background-color: #fff;
    border-radius: 0.5em;
}

span {
    margin: 0px;
}

canvas {
    border: #000 solid 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.speaker {
    float: right;
    width: 50px;
    height: 50px;
}

img {
    float: right;
    width: 50px;
    height: 50px;
}

#menuBackground {
    height: 720px;
    width: 960px;
    position: absolute;
    left: 26.3%;
    top: 30.3%;
    display: block;
}

#infoBackground {
    height: 720px;
    width: 960px;
    position: absolute;
    left: 26.3%;
    top: 30.3%;
    display: none;
}

#title {
    scale: 1.5;
    left: 40%;
    top: 45%;
    height: 154px;
    width: 350px;
    position: absolute;
    animation: titlemove 3s infinite;
}

#play {
    scale: 1.5;
    left: 45%;
    top: 70%;
    height: 32px;
    width: 146px;
    position: absolute;
}

#info {
    scale: 1.5;
    left: 43%;
    top: 80%;
    height: 29px;
    width: 205px;
    position: absolute;
}

#back {
    display: none;
    scale: 1.5;
    left: 45%;
    top: 91%;
    height: 32px;
    width: 146px;
    position: absolute;
}

#infotxt {
    display: none;
    scale: 0.8;
    top: 25%;
    left: 25%;
    height: 693px;
    width: 600px;
    position: absolute;
}

#charAni {
    display: none;
    scale: 0.3;
    bottom: 12%;
    right: 20%;
    height: 864px;
    width: 864px;
    position: absolute;
}

#digAni {
    display: none;
    scale: 0.3;
    top: 29%;
    right: 20%;
    height: 864px;
    width: 864px;
    position: absolute;
}

#timerDisplay1 {
    position: absolute;
    font-size: 25px;
    top: 28.5%;
    left: 27%;
}

#scoreDisplay {
    position: absolute;
    font-size: 25px;
    top: 28.5%;
    left: 36%;
}

#gameover {
    height: 720px;
    width: 960px;
    position: absolute;
    left: 26.3%;
    top: 30.3%;
    display: none;
}

#timeup {
    display: none;
    scale: 1.5;
    left: 42%;
    top: 45%;
    height: 102px;
    width: 277px;
    position: absolute;
    animation: titlemove 3s infinite;
}

#replay {
    display: none;
    scale: 1.5;
    left: 45%;
    top: 75%;
    height: 32px;
    width: 146px;
    position: absolute;
}

#tomenu {
    display: none;
    scale: 1.5;
    left: 43%;
    top: 85%;
    height: 29px;
    width: 205px;
    position: absolute;
}

#oneminute {
    display: none;
    scale: 1.5;
    left: 39%;
    top: 60%;
    height: 32px;
    width: 146px;
    position: absolute;
}

#threeminute {
    display: none;
    scale: 1.5;
    left: 51%;
    top: 60%;
    height: 32px;
    width: 146px;
    position: absolute;
}

#titleBG {
    background-image: url("./assets/piha.jpg");
    background-size: cover;
    height: 150px;
    line-height: 150px;
    border-radius: 0.5em;
}

#titleBG h1 {
    text-align: left;
    font-size: 40px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px 5px;
    background-color: black;
}

nav li {
    display: inline;
    border-right: 1px solid white;
}

nav li a {
    color: white;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
}

@keyframes titlemove {
    0% {rotate: 0deg;}
    25% {rotate: 10deg;}
    50% {rotate: -10deg;}
    75% {rotate: 10deg;}
    100% {rotate: 0deg;}
}